<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small blue">

    <div class="row">
        <!-- Grid column -->
        <div class="col-6"

          <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Created by: Piotr Jasina</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <a class="li-ic" href="#">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">LinkedIn</i>
            </a>

        </div>
        <!-- Grid column -->
        <div class="col-6">
          <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Idea by: Damian Rusinek</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <a class="li-ic" href="#">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">LinkedIn</i>
            </a>
        </div>
        <!-- Grid column -->

      <!-- Grid row -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://umcs.pl">UMCS</a>
        </div>

    </div>
    </footer>
    <!-- Footer -->
</div>

</html>