<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
<!-- Footer -->
<footer class="footer">

    <!-- Grid row-->
    <div class="container-fluid">
        <div class="row bg-dark text-white py-1">

            <!-- Grid column -->
            <div class="col-6 text-right">
                Created by: Piotr Jasina
                <!--Linkedin -->
                <a href="https://linkedin.com/in/piotr-jasina-191a0b134" target="_blank">
                    <i class="fab fa-linkedin-in fa-lg social social-linkedin"> </i>
                </a>
                <a href="https://github.com/peterjot" target="_blank">
                    <i class="fab fa-github-square fa-lg social social-github"> </i>
                </a>
            </div>
            <div class="col-6 text-left">
                Idea by: Damian Rusinek
                <!--Linkedin -->
                <a href="https://linkedin.com/in/damianrusinek" target="_blank">
                    <i class="fab fa-linkedin-in fa-lg social social-linkedin"> </i>
                </a>
            </div>
            <!-- Grid column -->
        </div>
        <div class="row bg-dark text-white py-1">

            <!-- Copyright -->
            <div class="col-12 text-center footer-copyright">
                © 2019 Copyright: <a href="https://umcs.pl/" target="_blank" class="social">UMCS</a>
            </div>
            <!-- Copyright -->
        </div>
    </div>
</footer>
</div>

</html>