<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- this is header -->
    <div th:fragment="header">

        <title>Smart contract identification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
              href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>

        <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="/css/main.css"/>

    </div>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Smart contract identification</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/solidity/functions}">Functions selector</a>
                <a class="nav-item nav-link" th:href="@{/solidity/files}">Solidity files</a>
                <a class="nav-item nav-link" th:href="@{/swagger-ui.html}">API</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/solidity}">Insert solidity file</a>
                <a class="nav-item nav-link" th:href="@{/bytecode}">Find implementation</a>

            </div>
        </div>

    </nav>
</div>
</body>
</html>