<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 10%">
        <div>
        <textarea name="byteCodeString" form="bytecodeform" style="width: 40em; height: 20em; resize: none"
                  placeholder="Wklej byte code"><th:block th:text="${byteCodeString}"/>
        </textarea>
        </div>
        <div>
            <form  method="post" action="#" th:action="@{/bytecode}"  id="bytecodeform">
                <div style="margin-left: 5%"> <!--You can add col-lg-12 if you want -->
                    <input type="submit" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>

    <th:block th:if="${instructionDtos != null && instructionDtos.isEmpty() == false}">
        <div class="row">
            <p>Push4 hashes:</p><br>
        </div>
    </th:block>
    <th:block th:each="instructionDto : ${instructionDtos}">
        <div class="row">
            <p th:text="${instructionDto.argument}"></p><br>
        </div>
    </th:block>


</div>

<!-- /.container -->

</body>
</html>



