<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row align-items-center justify-content-center" style="margin-top: 10%">
        <div>
        <textarea name="bytecode" form="bytecodeform" style="width: 40em; height: 20em; resize: none"
                  placeholder="Insert bytecode"></textarea>
        </div>
        <div>
            <form method="post" action="#" th:action="@{/bytecode}" id="bytecodeform">
                <div style="margin-left: 5%"> <!--You can add col-lg-12 if you want -->
                    <input type="submit" value="Submit" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>

    <th:block th:if="${message != null}">
        <div class="row">
            <div class="col-md-10">
                <p th:text="${message}"></p>
            </div>
        </div>
    </th:block>
    <th:block th:if="${!implementationsWithCount.isEmpty()}">
        <div class="row">
            <div class="col-md-10">
                <p>Solidity File Hash:</p>
            </div>
            <div class="col-md-2">
                <p>Matches:</p>
            </div>
        </div>
    </th:block>

    <th:block th:each="implementationWithCount : ${implementationsWithCount}">
        <div class="row">
            <div class="col-md-10">
                <a th:href="@{'/api/solidityFiles/sourceCode?fileHash='+${implementationWithCount.key.sourceCodeHash}}"
                   th:target="_blank"
                   th:text="${implementationWithCount.key.sourceCodeHash}"></a>
            </div>
            <div class="col-md-2">
                <p th:text="${#numbers.formatPercent(implementationWithCount.value,1,2)}"></p>
            </div>
        </div>
    </th:block>


</div>

<!-- /.container -->

</body>
</html>



