<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>
<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row mt-3 justify-content-between">
        <div class="col-lg-6">
            <h4>Files count: <span th:text="${filesCount}">NONE</span></h4>
        </div>
        <div class="col-lg-6">
            <p>
                <b>The EVM</b> - the runtime environment for smart contracts in Ethereum. It is not only sandboxed, but
                actually
                completely isolated, which means that code running inside the EVM has no access to network, filesystem,
                or
                other processes.
                Contracts are typically written in an Ethereum high level language, compiled into byte code using an EVM
                compiler, and finally uploaded on the blockchain using an Ethereum client.
            </p>
            <p>
                <b>Solidity</b> - a contract-oriented, high-level language for implementing smart contracts. It was
                influenced
                by
                C++, Python and JavaScript and is designed to target the Ethereum Virtual Machine (EVM).
            </p>
            <p>
                <b>Function Selector</b> - The first four bytes of the Keccak (SHA-3) hash of the function signature.
            </p>
            <p>
                <b>Function Signature</b> - The canonical expression of the basic prototype, i.e. the function name with
                the
                parenthesised list of parameter types. Parameter types are split by a single comma - no spaces are used.
            </p>
        </div>
    </div>
</div>

<!-- /.container -->

</body>
</html>



