<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>
<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col-lg">
            Solidity is a contract-oriented, high-level language for implementing smart contracts. It was influenced by
            C++, Python and JavaScript and is designed to target the Ethereum Virtual Machine (EVM).

        </div>
        <div class="col-lg">
            The EVM is the runtime environment for smart contracts in Ethereum. It is not only sandboxed, but actually
            completely isolated, which means that code running inside the EVM has no access to network, filesystem, or
            other processes.
            Contracts are typically written in an Ethereum high level language, compiled into byte code using an EVM
            compiler, and finally uploaded on the blockchain using an Ethereum client.
        </div>

    </div>
</div>

<!-- /.container -->

</body>
</html>



