<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container mt-2">
    <th:block th:each="solidityFile : ${solidityFiles}">
        <div class="row justify-content-center ">
            <div class="col-sm-6" th:id="${solidityFile.sourceCodeHash}">
                <span>Source code hash: <a
                        th:href="@{'/api/solidityFiles/sourceCode?fileHash='+${solidityFile.sourceCodeHash}}"
                        th:text="${solidityFile.sourceCodeHash}">NONE</a></span>
            </div>
            <div class="col-sm-6">
                <th:block th:each="function : ${solidityFile.solidityFunctions}">
                    <p><span th:text="${function}">NONE</span></p>
                </th:block>
            </div>
        </div>
    </th:block>
</div>

<!-- /.container -->

</body>
</html>



