<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container mt-2">
    <div class="row">
        <div class="col-sm-5">
            <h3>Functions selector count: <span th:text="${functions.size()}">NONE</span></h3>
        </div>
        <div class="col-sm-7">
            <th:block th:each="function : ${functions}">
                <div class="row">
                    <div class="col-sm-3">
                        <p th:text="${function.selector}">NONE</p>
                    </div>
                    <div class="col-sm-5">
                        <p th:text="${function.signature}">NONE</p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!-- /.container -->

</body>
</html>



