<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row row align-items-center justify-content-center" style="margin-top: 10%">
        <form function="POST" enctype="multipart/form-data" action="/solidity">
            <div class="custom-file form-group">
                <input type="file" name="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Wybierz plik</label>
            </div>

            <div class="text-right" style="margin-top: 1%"> <!--You can add col-lg-12 if you want -->
                <input type="submit" class="btn btn-info">
            </div>
        </form>
    </div>


    <th:block th:each="function : ${functions}">
        <div class="row">
            <p>Method signature: <span th:text="${function.signature}">NONE</span> hash: <span
                    th:text="${function.hash}">NONE</span>
            </p>
        </div>
    </th:block>

    <script type="application/javascript">
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>

</div>

<!-- /.container -->

</body>
</html>



