<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"/>
    <!--<div th:replace="/fragments/header :: header"></div>-->
</head>
<body>

<th:block th:include="fragments/header :: navbar"/>
<!--<div th:replace="/fragments/header :: navbar"></div>-->

<div class="container">
    <div class="row row align-items-center justify-content-center mt-3 mb-3">
        <form method="post" enctype="multipart/form-data" action="#" th:action="@{/solidity}">
            <div class="custom-file form-group">
                <input type="file" name="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Wybierz plik</label>
            </div>

            <div class="text-right" style="margin-top: 1%"> <!--You can add col-lg-12 if you want -->
                <input type="submit" class="btn btn-info">
            </div>
        </form>
    </div>

    <th:block th:if="${solidityFileFunctions != null}">
        <div class="row mt-0">
            <div class="col-sm">
                <p>Uploaded solidity file hash : <span th:text="${solidityFileHash}">NONE</span></p>
            </div>
        </div>
    </th:block>
    <th:block th:each="function : ${solidityFileFunctions}">
        <div class="row mt-0">
            <div class="col-sm">
                <p>Function selector : <span th:text="${function.selector}">NONE</span></p>
            </div>
            <div class="col-sm">
                <p>Function signature: <span th:text="${function.signature}">NONE</span></p>
            </div>
        </div>
    </th:block>

    <script type="application/javascript">
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>

</div>

<!-- /.container -->

</body>
</html>



